$primary--color:hsl(266,69%,56%);
$primary--color:#8441dc;

$app--color :#6a72fc ;

@mixin  flex ($just, $align, $dir : row){
    display: flex;
    flex-direction: $dir;

    @if($dir == column){
        justify-content: $align;
        align-items: $just;
    }        
    @else{
        justify-content: $just;
        align-items: $align;
    }
}

.home--section{
    @include flex(initial,initial  );    
    height: 95vh;
    width: 75vw;
    // padding:0rem 5rem;
    // background: yellow;
    div{
        // background: skyblue    ;
    }
}

.home__icons {
    @include flex(center,center ,column);
    // background: red;
    // background: #efefef;
    // flex: 1;    
    // margin-bottom: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    img{
        max-width: 2.5rem;
        margin-bottom: 1rem;        
    }
    
}
.home__content{
    flex: 2;
    // background: #dedede;
    padding-top: 10rem;
    // word-break: break-all;

    
    h1{
        font-size: 3rem;      
        // height: 3rem  ;        
    }

      .content__p{
          margin-top: 3rem;
          line-height: 1.6rem;
          font-size: 1.1rem                
      }
}

.home__content >div:nth-child(1){
    // background: red;
    height: 8rem;
}
#Contact_me{
    @include flex(center,center );

    background:$app--color;
    color: white;    
    border: none;
    outline: none;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    margin-top: 5rem;
    img{
        transform: rotate(45deg);
        max-width: 2rem;
    }
}

.home__profile{
    // @include flex(center,flex-start  );
    flex: 2;
    position: relative;
    // background: hsl(0, 0%, 87%);    
    // padding-right:10rem;
    img{
        max-width: 60%;      
        // background: yellow;                  
        // margin-top: 10rem;        
    }
}

.home__profile > div{
    background: red;
    transform: translate(3rem,10rem);
    position: relative;
    // @include flex(flex-start, center );
}

.profilePic{    
    position: absolute;
    max-height: 70%;    
    left: 4rem;    
    top: 3rem;
}