// $primary--color:hsl(266,69%,56%);
// $primary--color:#8441dc;
// $app--color :#6a72fc ;

$main--color: #6256bf;

@mixin flex($just, $align, $dir: row) {
    display: flex;
    flex-direction: $dir;

    @if ($dir == column) {
        justify-content: $align;
        align-items: $just;
    } @else {
        justify-content: $just;
        align-items: $align;
    }
}

.home--section {
    @include flex(initial, initial);
    height: 95vh;
    width: 75vw;
    margin: auto;
}

.home__icons {
    @include flex(center, center, column);
    // background-color: red;
    color: $main--color;
    font-size: 2rem;
    // padding: 2rem;
    margin-right: 1rem;

    i {
        margin: 1rem;
    }
}

// welcome message and about me
.home__content {
    @include flex(initial, space-around, column);
    flex: 2;
    padding-top: 9rem;
    padding-bottom: 7rem;
    // background-color: red;

    h1 {
        font-size: 3rem;
        // height: 3rem  ;
    }

    .content__p {
        // margin-top: 3rem;
        line-height: 1.6rem;
        font-size: 1.1rem;
    }
}

.home__content .footer {
    width: fit-content;    
    
    a {
        @include flex(initial, center);
        // background: yellow;        
        text-decoration: none;            
        margin-top: 4rem;
        color: $main--color;        
    }

    a :hover {        
        cursor: pointer;     
    }

    i {
        font-size: 2rem;        
    }

    transition: all .2s;
}


.home__content .footer:hover{
    transform: translateY(4px);
}
// welcome message and title
.home__content > div:nth-child(1) {
    height: 8rem;
}

//button
#Contact_me {
    background-color: $main--color;
    color: white;

    display: flex;
    align-items: center;

    width: fit-content;
    padding: 1.2rem 1rem;
    // margin-top: 5rem;

    border: none;
    outline: none;

    font-size: 1.2rem;
    border-radius: 0.3rem;

    transition: all 0.2s;

    i {
        margin: 0rem 0.5rem;
    }
}

#Contact_me:hover {
    cursor: pointer;
    transform: translateY(2px);
}

//right photo container
.home__profile {
    // @include flex(center,flex-start  );
    flex: 2;
    position: relative;

    img {
        max-width: 60%;
    }
}

.home__profile > div {
    // background: red;
    position: relative;
    transform: translate(3rem, 10rem);
    // @include flex(flex-start, center );
}

.profilePic {
    position: absolute;
    max-height: 70%;
    left: 4rem;
    top: 3rem;
}
